// Colors
$white: #fff;
$black: #171720;
$accent: #D8F366;

// Transition
$slow: 500ms;
$normal: 200ms;
$fast: 100ms;

// Fonts
$inter: 'Inter', Arial, sans-serif;
$libre: 'Libre Franklin', Arial, sans-serif;
